.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $background-color;
}

.address__list {
  margin-top: 8px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}

.address__item {
  margin-top: 8px;

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}

.address__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $background-color;
  }
}
