.footer {
  background-color: $footer-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__blocks {
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
