.contacts {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 21px;
    margin-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;
  fill: $primary-text-color;
  transition: color 250ms $cubic, fill 250ms $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contacts__icon {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}
